.slideWrapper {
    max-width: 50%;
  }
  
  .slideImage {
    width: 100%;
    height: auto;
  }

  .swiper-button-next{
    border-bottom: 20px solid transparent;
    border-left: 30px solid #ff4500;
    border-top: 20px solid transparent;
  }

  .custom_bullet {
    background: white;
    opacity: 0.5;
    width: 3%;
    padding-top: 3%
  } 

  .custom_bullet_active {
    background: white;
    opacity: 1;
    width: 3%;
    padding-top: 3%
} 
  
  @media screen and (min-width: 768px) {
    .slideImage {
      aspect-ratio: initial;
    }
  }